html{
    background-color: black;
    color: white;
    font-size: 1.5em;
    margin: auto;
}
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: 'arial narrow';
  }
  p{
    font-size: 18px;
  }
  header{
    background-color: #e632f6;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  header h1{
    color: white;
    border: 8px solid white;
    display: inline-block;
    padding: 12px 12px;
    border-radius: 36px;
  }
.banner{
    position: relative;
    top: 125px;
    color: #e632f6;
}
.banner img{
    max-width:100%;
    border: gold;
    border-style: solid;
}
.banner .welcome{
    background-color: #ffecb3;
    position: absolute;
    top: 0px;
    /* left: 837px; */
    right: 0px;
    top: 25px;
    height: 63%;
    width: 63%;
    border: #e632f6;
    border-style: solid;
    vertical-align: bottom;
}
.column {
    float: left;
    width: 50%;
  }
li{
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}
.banner h2{
    text-align: center;
    font-size: 2.25em;
    padding: 6px 0;
    border-radius: 36px;
    border: #ffecb3;
    border-style: solid;
    background-color: black;
}
.banner h3{
    text-align: center;
}
.banner p{
    text-align: center;
    font-size: 2em;
    
}
.join{
    background-color: red;
    position: absolute;
    right: 0px;
    width: 63%;
    height: 16.5%;
    bottom: 0px;
    border: whitesmoke;
    border-style: solid;
    text-align: center;
    font-size: 1.5em;
}
.join h2{
    color: black;
}
.copyright{
    background-color: white;
    position: absolute;
    right: 0px;
    /* width: 61.5%; */
    height: -5%;
    bottom: -110px;
    border: blueviolet;
    border-style: solid;
    color: blue;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
}
.