html{
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    margin: auto;
}
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: tahoma;
  }
  p{
    font-size: 18px;
  }
  header{
    background-color: #e632f6;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  header h1{
    color: white;
    border: 8px solid white;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 36px;
  }
.banner{
    position: relative;
    top: 125px;
    color: #e632f6;
}
.banner img{
    max-width:100%;
}
.banner .welcome{
    background-color: #ffecb3;
    position: absolute;
    top: 0px;
    /* left: 837px; */
    right: 0px;
    top: 50px;
    height: 75%;
    width: 61.5%;
    border: #e632f6;
    border-style: solid;
    vertical-align: bottom;
}
.column {
    float: left;
    width: 50%;
  }
li{
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}
.banner h2{
    text-align: center;
    font-size: 2.5em;
    padding: 6px 0;
}
.banner h3{
    text-align: center;
}
.banner p{
    text-align: center;
    font-size: 2.25em;
    
}
  